body{
    font-size: 23px;
    font-family:'Sarabun', sans-serif;
    background-image: url('Resources/compare2.jfif') ;
    background-size: cover;
    background-attachment: fixed
}


    h1{font-size:25px;
    text-decoration: underline wavy }

    header{font-size:20px}
    section{ font-size:21px;}



